<div>
    <div class="modal-header">
        <span class="glyphicon glyphicon-remove" style="color: black; float:right; font-size: 16px" ng-click="onClickClose()"></span>
            <h3 class="modal-title" style="color: black">{{question.title}}</h3>
        </div>
        <div class="modal-body" style="color: black; padding: 10% 10%">
        	<div ng-show="question.image" style="padding: 15px 15px"><img ng-src="{{question.image}}" width="100%"></div>
        	<div dynamic-bind="question.description" style="text-align:center; width: 100%; margin: 0px auto; border: 1px solid #bfbfbf; border-radius: 50px; min-height: 50px; padding: 15px 10px; word-wrap:break-word">
            </div>
            <div class="row" style="padding: 15px 40px">
            	<div class="col-xs-12">
            		<ul class="list-unstyled list-inline">
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px" ng-class="{'correctAnswer':  question.allAnswers.answer1 == question.correctAnswer}">
						<strong>A: </strong><span dynamic-bind="question.allAnswers.answer1"></span></li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px" ng-class="{'correctAnswer':  question.allAnswers.answer2 == question.correctAnswer}">
						<strong>B: </strong><span dynamic-bind="question.allAnswers.answer2"></span></li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px; margin-top: 10px" ng-class="{'correctAnswer':  question.allAnswers.answer3 == question.correctAnswer}">
						<strong>C: </strong><span dynamic-bind="question.allAnswers.answer3"></span></li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px; margin-top: 10px" ng-class="{'correctAnswer':  question.allAnswers.answer4 == question.correctAnswer}">
						<strong>D: </strong><span dynamic-bind="question.allAnswers.answer4"></span></li> 
            		</ul>
            	</div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
      				<div><strong>Difficulty: </strong>{{question.difficulty}}</div>
                    <div><strong>Field: </strong>{{question.field}}</div>
      				<div><strong>Time available: </strong>{{question.time}} min</div>
            		<div style="padding-top: 25px">
            			<span style="margin-right: 10px"><strong>Created by: </strong>{{question.createdBy}}</span>
            			<span><strong>Date created: </strong>{{question.created | date: 'dd.MM.yyyy. HH:mm'}}</span>
            		</div>
            		<div>
            			<span></span><strong>Last modified: </strong>{{question.lastModified | date: 'dd.MM.yyyy. HH:mm'}}</div>
            		</div>
            	</div>
            </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" ng-click="onClickEdit(question._id)">Edit</button>
        </div>
</div>
