<h1>New question</h1>
<div class="row" style="padding: 25px 0px; margin:0px">
	<div class="col-sm-6">
		<form class="form" role="form" name="newQuestionForm">
			<div class="form-group">
				<label for="title">Question title:</label>
				<input type="text" name="questionName" class="form-control" style="background-color: #333333; color:white" ng-model="newQuestion.title" required placeholder="Title">
			</div>
			<div class="row" style="padding-left: 15px">
			<div class="form-group" style="font-size: 15px; padding: 15px 0px">
			<label class="radio-inline" style="margin-right: 15px">
				<input type="radio" ng-model="newQuestion.difficulty" ng-required="!newQuestion.difficulty" value="easy" name="diffRadio">Easy
			</label>
			<label class="radio-inline" style="margin-right: 15px">
				<input type="radio" ng-model="newQuestion.difficulty" ng-required="!newQuestion.difficulty" value="intermediate" name="diffRadio">Intermediate
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="newQuestion.difficulty" ng-required="!newQuestion.difficulty" value="hard" name="diffRadio">Hard
			</label>
			</div>
			<div class="row" style="padding-left: 15px; padding-right: 15px">
				<div class="form-group col-sm-6" style="padding-left: 0px">
				<label for="time">Time (min):</label>
				<input type="number" min="1" name="time" class="form-control" style="background-color: #333333; color:white" ng-model="newQuestion.time" required ng-pattern="/^[1-9][0-9]*$/" placeholder="Time (min)">
				</div>
				<div class="form-group col-sm-6">
					 <label for="sel1">Field:</label>
      				<select class="form-control" id="sel1" ng-model="newQuestion.field" required style="background-color: #333333; color:white">
        				<option ng-repeat="field in selectList">{{field}}</option>
      				</select>
				</div>
			</div>
			</div>
			<div class="row" style="padding-left: 15px; padding-top: 15px">
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickText()">Text</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickSum()">Sum</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickProduct()">Product</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickSqrt()">Sqrt</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickIntegral()">Integral</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickLim()">Lim</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickFrac()">Frac</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickSin()">Sin</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickCos()">Cos</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickTan()">Tan</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickCot()">Cot</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickArcSin()">ArcSin</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickArcCos()">ArcCos</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickArcTan()">ArcTan</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="onClickArcCot()">ArcCot</button>
			</div>
			<div class="form-group" style="padding: 15px 0px">
				<label for="description">Description:</label>
				<textarea type="text" name="questionDescription" class="form-control" style="background-color: #333333; color:white" rows="5" ng-model="newQuestion.description" required placeholder="Description"></textarea>
			</div>
			<div class="form-group col-sm-6">
					<label for="answer1">Answer #1</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="radio" ng-model="newQuestion.correctAnswer" ng-required="!newQuestion.correctAnswer" ng-value="newQuestion.allAnswers.answer1" name="correctAnswer">
						</span>
						<input type="text" name="answer1" ng-model="newQuestion.allAnswers.answer1" class="form-control" style="background-color: #333333; color:white" required placeholder="Enter answer">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label for="answer2">Answer #2</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="radio" ng-model="newQuestion.correctAnswer" ng-required="!newQuestion.correctAnswer" ng-value="newQuestion.allAnswers.answer2" name="correctAnswer">
						</span>
						<input type="text" name="answer2" ng-model="newQuestion.allAnswers.answer2" class="form-control" style="background-color: #333333; color:white" required placeholder="Enter answer">
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label for="answer3">Answer #3</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="radio" ng-model="newQuestion.correctAnswer" ng-required="!newQuestion.correctAnswer" ng-value="newQuestion.allAnswers.answer3" name="correctAnswer">
						</span>
						<input type="text" name="answer3" ng-model="newQuestion.allAnswers.answer3" class="form-control" style="background-color: #333333; color:white" required placeholder="Enter answer">
					</div>
				</div>
				<div class="form-group col-sm-6" style="padding-bottom: 15px">
					<label for="answer4">Answer #4</label>
					<div class="input-group">
						<span class="input-group-addon">
							<input type="radio" ng-model="newQuestion.correctAnswer" ng-required="!newQuestion.correctAnswer" ng-value="newQuestion.allAnswers.answer4" name="correctAnswer">
						</span>
						<input type="text" name="answer4" ng-model="newQuestion.allAnswers.answer4" class="form-control" style="background-color: #333333; color:white" required placeholder="Enter answer">
					</div>
				</div>
		</form>
	</div>
	<div class="col-sm-6">
		<div class="col-sm-12">
		<label class="btn btn-default">
			Upload image<input type="file" name="imageFile" id="file" onchange="angular.element(this).scope().onClickUpload(this)" accept="image/*" style="display: none">
		</label>
			<img ng-src="{{newQuestion.image}}" width="100%" style="margin-top: 15px; margin-bottom: 15px">
	</div>
	<div class="row">
	<div class="col-xs-12">
		<div style="margin:0px auto; max-width: 200px; padding-left: 40px">
			<button type="button" class="btn btn-default" ng-click="onClickSaveQuestion(newQuestion)"><span class="glyphicon glyphicon-save-file"></span> Save</button>
			<button type="button" class="btn btn-danger" ui-sref="user.questionlist">Cancel</button>
		</div>
	</div>
	</div>
</div>