<h1>Questions collection</h1>
<div class="row" style="margin:0px">
	<div class="col-xs-12">
		<button type="button" class="btn btn-default" ui-sref="user.newquestion"><span class="glyphicon glyphicon-file"></span> New question</button>
	</div>
	<div class="row text-center" ng-show="fixedAmount === 0" style="padding-top: 15px">
		<h3>No stored questions.</h3>
	</div>
	<div class="col-xs-12" ng-hide="fixedAmount === 0" style="padding: 60px 0px 15px 10%">
		<form class="form-inline" role="form">
			<div class="form-group">
				<div class="dropdown" style="color: black">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select field/s <span class="caret"></span></button>
					<ul class="dropdown-menu">
					<li><a ng-href="#" ng-click="onClickClearFieldFilter(filter)">Clear all</a></li>
						<li class="divider" style="margin-top: 0px"></li>
						<li ng-repeat="field in fieldEnum">
							<div class="col-xs-12">
								<label class="checkbox-inline">
									<input type="checkbox" name="selectField" checklist-model="filter.fieldFilter" checklist-value="field"> {{field}}
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<div class="dropdown" style="color: black">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select difficulty/ies <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a ng-href="#" ng-click="onClickClearDifficultyFilter(filter)">Clear all</a></li>
						<li class="divider" style="margin-top: 0px"></li>
						<li ng-repeat="difficulty in difficultyEnum">
							<div class="col-xs-12">
								<label class="checkbox-inline">
									<input type="checkbox" name="selectDifficulty" checklist-model="filter.difficultyFilter" checklist-value="difficulty"> {{difficulty}}
								</label>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<button type="button" class="btn btn-primary" ng-click="onClickFilter(filter)">Filter</button>
		</form>
	</div>
	<div style="max-width: 80%; margin: 0px auto; padding-top: 15px" ng-hide="questionsList.length == 0">
	<table class="table table-hover questionTable">
		<thead>
			<tr style="background-color: #b3ffff">
				<th><span style="margin-left: 15px"><a href="" ng-click="onClickNameSort(filter)" style="text-decoration: none">Title</a></span></th>
				<th><span>Difficulty</span></th>
				<th><span>Field</span></th>
				<th><span><a href="" ng-click="onClickDateSort(filter)" style="text-decoration: none">Last Modified</a></span></th>
				<th><span>Edit</span></th>
				<th><span>Delete</span></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="question in questionsList | limitTo: pageItems track by trackByItem(question)">
				<td style="color: #0099e6"><a id="questionTitle" ng-href="#" ng-click="onClickQuestionInfo(question._id)" style="margin-left: 15px">{{question.title}}</a></td>
				<td>{{question.difficulty}}</td>
				<td>{{question.field}}</td>
				<td>{{question.lastModified | date: 'dd/MM/yyyy hh:mm'}}</td>
				<td><a ng-href="/user/question/newquestion/{{question._id}}" ng-hide="user.username !== question.createdBy" style=" margin-left: 5px"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i></a></td>
				<td><a ng-href="#deleteQuestion" ng-hide="user.username !== question.createdBy" data-toggle="modal" ng-click="onClickDeleteQuestion(question)" style="margin-left: 10px"><i class="fa fa-trash-o" style="color: #333333; font-size: 16px"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
	<div class="text-center" ng-hide="fixedAmount === 0">
	 	<ul uib-pagination total-items="totalCount" ng-model="filter.currentPage" max-size="5" class="pagination-md" boundary-links="true" items-per-page="filter.pageItems" ng-change="onPageChange(filter)"></ul>
	</div>

</div>