<div class="col-sm-12">
<h1>Quizzes</h1>
<div class="row" style="padding-top: 60px">
	<div class="col-xs-12" ng-show="quizzesList.length == 0">
		<h3>No quizzes available.</h3>
		<button type="button" class="btn btn-default" ui-sref="user.newquiz">Create new</button>
	</div>
	<div class="col-xs-12">
		<ul class="list-unstyled">
		<li ng-repeat="quiz in quizzesList | paginationFilter:(currentPage - 1) * pageSize | limitTo:pageSize" class="col-sm-6">
			<a href="/user/quizzes/quizprofile/{{quiz._id}}" class="quizzesList">
			<div class="well hoverwell" style="background-color: #004d99">
				<div class="row">
					<span class="col-xs-12"><h3>{{quiz.title}}</h3></span>
				</div>
				<div class="row">
					<span class="col-xs-12"><strong>Field: </strong>{{quiz.field}}</span>
				</div>
				<div class="row">
					<span class="col-xs-12"><strong>Date created: </strong>{{quiz.created | date: 'dd/MM/yy hh:mm'}}</span>
				</div>
				<div class="row">
					<span class="col-xs-12"><strong>Created by: </strong>{{quiz.createdBy}}</span>
				</div>
				<div class="row">
					<span class="col-xs-12"><strong>Number of questions: </strong>{{quiz.questions.length}}</span>
				</div>
			</div>
			</a>
		</li>
		</ul>
	</div>

	<div class="text-center">
		<ul uib-pagination total-items="quizzesList.length" ng-model="currentPage" max-size="5" class="pagination-md" boundary-links="true" items-per-page="pageSize"></ul>
	</div>


</div>
</div>