body, html {
	background-color: #243942;
	color: #F5F5F5;
	height: 100%;
}

.navHeader {
	margin: 0px;
	font-size: 22px;
	color:  #d9d9d9;
	padding-top: 5px;
}

.navbar {
	background-color: #0073e6;
}

.signIn {
	margin: 0 auto;
	border: 1px solid #b3b300;
	border-radius: 5px;
	max-width: 368px;
	background-color: #e6ffff;
	padding: 25px;
}

.newQuestion {
	margin: 0 auto;
	max-width: 600px;
}

.errorMessage {
	color: red;
	font-size: 12px;
	padding-top: 5px;
}

.opacityForm {
 -khtml-opacity:.90; 
 -moz-opacity:.90; 
 -ms-filter:”alpha(opacity=90)”;
  filter:alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity:.90; 
}

.userStatus {
	color: #0099e6;
	padding-right: 15px;
}

.userStatus:link {
	text-decoration: none;
}

.userStatus:visited {
	color: #0099e6;;
	padding-right: 15px;
	text-decoration: none;
}

.userStatus:hover {
	color: #0099e6;;
	padding-right: 15px;
	text-decoration: none;
}

.userStatus:active {
	color: #0099e6;;
	padding-right: 15px;
	text-decoration: none;
}

.questionsList {
	padding: 15px 10px;
	border-bottom: 1px solid #007acc;
}

.quizzesList {
	text-decoration: none;
	color: inherit;
}

.quizzesList:hover {
	text-decoration: none;
	color: #ff9933;
}

.questionBox {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #ff9933;
	text-align: center;
	max-width: 300px;
}

.questionTable {
	border-radius: 3px;
	background-color: white;
	color: #404040;
}

#questionTitle:hover {
	color: #0099e6;
}


.correctAnswer {
	background-color: #e6e600;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.answerButton {
	border: 1px solid #bfbfbf; 
	border-radius: 50px; 
	margin-top: 20px;
	padding: 25px 25px; 
	min-height: 50px;
	text-align: left; 
	font-size: 15px;
}

.wrongAnswer {
	background-color: #cc2900;
}

.correctAnswer {
	background-color: #00ff00;
}

.team {
	padding: 15px;
	font-size: 16px;
	border-bottom: 1px solid #003366;
}

.leader {
	color: #ff9933;
}


/*rating css*/

.rating{
  color: #262626;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #ffcc00;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}