<div class="jumbotron" style="margin-left:15px; padding-bottom: 30px; background-image: url(img/mathBanner.jpg); background-repeat: no-repeat; background-size: cover">
      <div class="row">
        <div class="col-sm-7" style="padding-top: 20px; color:#7ba7b7">
        <h1 class="title-bar" style="text-align:left">Math Quiz</h1>
        <h2 style="text-align:left">Compete with your team</h2>
        </div>
      </div>
</div>

    <div class="row">
      <div class="col-xs-12" style="padding-top: 25px; text-align:center">
        <div style="display: inline-block">
          <p style="text-align:center; font-size: 25px; padding: 20px 0px">Join quiz</p>
          <input type="text" name="quiz" class="form-control input-lg" ng-model="gameId" requiredplaceholder="Quiz ID">
          <button type="button" class="btn btn-success btn-lg" ng-click="onClickEnter(gameId)" style="margin-top: 12px; border-color: white">Enter</button>
        </div>
      </div>
    </div>