<div class="jumbotron" style="margin: 50px 0px 10px 15px; padding-bottom: 70px; background-image: url(img/mathBanner.jpg); background-repeat: no-repeat; background-size: cover">
      <div class="row">
        <div class="col-sm-7" style="padding-top: 20px; color:#7ba7b7">
        <h1 class="title-bar" style="text-align:left">Math Quiz</h1>
        <h2 style="text-align:left">Compete with your team</h2>
        </div>
      </div>
</div>

    <div class="row" style="margin: 0px">
      <div class="col-xs-12 col-sm-6" style="text-align:center">
        <div style="width: 100%; background-color: #f2f2f2; border: 1px solid #cccc00; border-radius: 5px; padding: 25px 25px 50px 25px">
          <div style="display: inline-block">
            <p style="text-align:center; font-size: 25px; padding: 20px 0px; color: #333333">Play quiz</p>
            <input type="text" name="quiz" class="form-control input-lg" ng-model="gameId" required placeholder="Quiz code">
            <button type="button" class="btn btn-success btn-lg" ng-click="onClickEnter(gameId)" style="margin-top: 12px; border-color: white">Enter</button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" style="text-align: center">
         <div style="width: 100%; background-color: #f2f2f2; border: 1px solid #cccc00; border-radius: 5px; padding: 25px 25px 50px 25px">
          <div style="display: inline-block">
            <p style="text-align:center; font-size: 25px; padding: 20px 0px; color: #333333">Watch quiz</p>
            <input type="text" name="quiz" class="form-control input-lg" ng-model="spectatorGameId" required placeholder="Quiz code">
            <button type="button" class="btn btn-success btn-lg" ng-click="onClickSpectate(spectatorGameId)" style="margin-top: 12px; border-color: white">Enter</button>
          </div>
        </div>
      </div>
    </div>