<div class="row" style="height: 100%">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" style="height: 100%; background-color: white">
	scoreboard
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
	<div class="row">
		<div class="col-xs-12"; style="padding-right: 50px">
		<span style="float: right; font-size: 40px">{{timer | timerFilter | date: 'HH:mm:ss'}}</span>
		</div>
	</div>

	<div class="row"  style="padding: 100px 50px">
	<div ng-show="question.imageUrl" style="padding: 15px 15px"><img ng-src="{{question.imageUrl}}" width="100%"></div>

	<div style="text-align:center; width: 100%; margin: 0px auto; border: 1px solid #bfbfbf; border-radius: 50px; min-height: 100px; padding: 15px 10px">
            	<strong>{{currentQuestion.questionDescription}}</strong>
   	</div>

	<div style="margin-top: 25px">
            		<ul class="list-unstyled list-inline">
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 25px 25px; min-height: 50px">
						<strong>A: </strong>{{currentQuestion.questionAllAnswers.answer1}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 25px 25px; min-height: 50px">
						<strong>B: </strong>{{currentQuestion.questionAllAnswers.answer2}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 25px 25px; margin-top: 10px; min-height: 50px">
						<strong>C: </strong>{{currentQuestion.questionAllAnswers.answer3}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 25px 25px; margin-top: 10px; min-height: 50px">
						<strong>D: </strong>{{currentQuestion.questionAllAnswers.answer4}}</li> 
            		</ul>
            	</div>
    </div>


</div>
</div>