<div class="row text-center" style="padding-top: 90px">
	<div class="col-xs-12">
		<h2 style="color:  #4d4d4d">Sign In</h2>
	</div>
	<div class="col-xs-12" style="margin-top: 10px">
		<div class="signIn">
			<form class="form" role="form" name="signInForm">
				<div class="form-group">
					<label>Username</label>
					<input type="text" name="username" class="form-control" ng-model="user.username" ng-model-options="{updateOn: 'blur'}" required ng-pattern="/^[0-9]*[A-Za-z][A-Za-z0-9]*/" ng-minlength="2" check-username="user.username" placeholder="Enter username">

					<div ng-messages="signInForm.username.$error" ng-show="signInForm.username.$touched" role="alert" style="padding-top: 5px">
                      <div ng-show="signInForm.username.$error.unique" class="errorMessage">Username already exists.</div>
                    </div>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" required class="form-control" ng-model="user.password" placeholder="Enter password">
				</div>
				<div class="form-group">
					<label>Repeat Password</label>
					<input type="password" name="password" required class="form-control" ng-model="repeatPassword" placeholder="Enter password">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" required class="form-control" ng-model="user.email" placeholder="Enter email">
				</div>
				<div style="margin-top: 40px">
					<button type="submit" class="btn btn-primary" ng-click="onClickSubmitRegistration()">Submit</button>
					<button type="button" class="btn btn-danger" ng-click="onClickCancel()">Cancel</button>
				<div>
			</form>
		</div>
	</div>
</div>