<h1>Questions collection</h1>
<div class="row">
	<div class="col-xs-12">
		<button type="button" class="btn btn-default" ui-sref="user.newquestion"><span class="glyphicon glyphicon-file"></span> New question</button>
		<button type="button" class="btn btn-default" ng-click="onClickGetQuestions()">Get Questions</button>
	</div>
	<div class="row">
	<div style="max-width: 70%; margin: 0px auto; padding-top:100px">
		
	<div class="panel panel-default" style="border-color: #80d4ff" ng-repeat="question in questionsList track by question._id">
		<div class="panel-body" style="padding: 12px 15px 0px 15px; background-color: #4dc3ff">
		<ul class="list-unstyled list-inline"">
			<li><strong>Title:</strong> {{question.title}}<li>
			<li style="float: right"><a ng-href="/user/questions/newquestion/{{question._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i></a></li>
			<li style="float:right"><strong>Modified:</strong> {{question.lastModified | date:'dd/MM/yyyy hh:mm'}}</li>
		</div>
		<div class="panel-footer" style="background-color: #d9d9d9">
		<ul class="list-unstyled list-inline">
			<li><strong>created by:</strong> {{question.createdBy}}</li>
			<li><strong>difficulty:</strong> {{question.difficulty}}</li>
		</ul>
		</div>
	</div>


	</div>
	<div>
</div>