<h1>Quiz Profile</h1>
<div class="row-fluid">
<div class="col-sm-6">
	<div class="col-xs-12" style="margin-bottom: 10px">
		<button type="button" class="btn btn-default btn-sm" ng-click="onClickEdit(profileQuiz._id)">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="onClickDelete(profileQuiz._id)">Delete</button>
        <button type="button" class="btn btn-success" ng-click="onClickStartQuiz(profileQuiz._id)">Start Quiz</button>
	</div>
	<div class="col-xs-12"><strong>Title: </strong>{{profileQuiz.title}}</div>
	<div class="col-xs-12"><strong>Description: </strong>{{profileQuiz.description}}</div>
	<div class="col-xs-12"><strong>Field: </strong>{{profileQuiz.field}}</div>
	<div class="col-xs-12" style="margin-top: 10px"><strong>Created: </strong>{{profileQuiz.created | date: 'dd/MM/yy'}}</div>
	<div class="col-xs-12"><strong>Created by: </strong>{{profileQuiz.createdBy}}</div>
	<div class="col-xs-12"><strong>Last modified: </strong>{{profileQuiz.lastModified | date: 'dd/MM/yy hh:mm'}}</div>
	<div class="col-xs-12"><h3>Questions: </h3></div>
	<ul class="list-unstyled">
		<li ng-repeat="question in profileQuizQuestions" style="padding-bottom: 10px">
			<span><a ng-href="#" ng-click="onClickQuestionInfo(question)" style="text-decoration: none; color: white">{{question.title}}</a></span>
		</li>
	</ul>
</div>

<div class="col-sm-6">
    <p>Ovo je drugi stupac.</p>
    <div class="alert alert-info" ng-show="gameId">
        <p style="font-size: 25px; margin-bottom: 15px">Invite players: {{gameId}}</p>
        <button type="button" class="btn btn-success" ng-click="onClickPlay(gameId)"><i class="fa fa-play" aria-hidden="true" style="margin-right: 5px"></i> Play</button>
    </div>
</div>

</div>


	<div>
		 <script type="text/ng-template" id="QuestionInfoModal.html">
        <div class="modal-header">
        <span class="glyphicon glyphicon-remove" style="color: black; float:right; font-size: 16px" ng-click="onClickClose()"></span>
            <h3 class="modal-title" style="color: black">{{question.title}}</h3>
        </div>
        <div class="modal-body" style="color: black; padding: 10% 10%">
        	<div ng-show="question.imageUrl" style="padding: 15px 15px"><img ng-src="{{question.imageUrl}}" width="100%"></div>
        	<div style="text-align:center; width: 100%; margin: 0px auto; border: 1px solid #bfbfbf; border-radius: 50px; min-height: 50px; padding: 15px 10px">
            	<strong>{{question.description}}</strong>
            </div>
            <div class="row" style="padding: 15px 40px">
            	<div class="col-xs-12">
            		<ul class="list-unstyled list-inline">
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px" ng-class="{'correctAnswer':  question.allAnswers.answer1 == question.correctAnswer}">
						<strong>A: </strong>{{question.allAnswers.answer1}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px" ng-class="{'correctAnswer':  question.allAnswers.answer2 == question.correctAnswer}">
						<strong>B: </strong>{{question.allAnswers.answer2}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px; margin-top: 10px" ng-class="{'correctAnswer':  question.allAnswers.answer3 == question.correctAnswer}">
						<strong>C: </strong>{{question.allAnswers.answer3}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px; margin-top: 10px" ng-class="{'correctAnswer':  question.allAnswers.answer4 == question.correctAnswer}">
						<strong>D: </strong>{{question.allAnswers.answer4}}</li> 
            		</ul>
            	</div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
      				<div><strong>Difficulty: </strong>{{question.difficulty}}</div>
      				<div><strong>Time available: </strong>{{question.time}} min</div>
            		<div style="padding-top: 25px">
            			<span style="margin-right: 10px"><strong>Created by: </strong>{{question.createdBy}}</span>
            			<span><strong>Date created: </strong>{{question.created | date: 'dd/MM/yy'}}</span>
            		</div>
            		<div>
            			<span></span><strong>Last modified: </strong>{{question.lastModified | date: 'dd/MM/yy hh:mm'}}</div>
            		</div>
            	</div>
            </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" ng-click="onClickEdit(question._id)">Edit</button>
        </div>
    </script>
	</div>


