<div class="row" style="padding: 15px">
	<div class="col-xs-12 col-sm-2">
		<button type="button" class="btn btn-primary" ng-click="onClickBack()">
			<span class="glyphicon glyphicon-arrow-left"></span> Back
		</button>
	</div>
	<div restrict-access user="user.username" created-by="startedBy" class="col-xs-12 col-sm-10">
		<span style="margin-right: 15px">game invitation: {{gameId}}</span>
		<button type="button" class="btn btn-success" ng-click="onClickPlay(gameId)">Play</button>
	</div>
</div>
<div class="col-xs-12">
	<div class="panel panel-info text-center" style="color:black">
		<div class="panel-body">
			Waiting for game start...
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div style="width: 450px; margin: 0px auto">
		<div class="well" style="margin-bottom: 10px">
			<span style="color: black">Teams </span>
			<span class="badge">{{teamList.length}}</span>
		</div>
		<div>
			<ul class="list-unstyled list-group">
				<li class="list-group-item" ng-repeat="team in teamList" style="color: black">
					<span>{{$index + 1}} </span>
					<span style="margin-left: 15px">{{team.teamName}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>