<h1>HOME</h1>
<div class="row">
	<div class="col-sm-6 col-md-8"></div>
	<div class="col-sm-6 col-md-4">
		<div ng-show="dashboard.length == 0">
			<h3>No active games.</h3>
		</div>
		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>

		<div style="background-color: #00e6e6; color: #404040; border-radius: 2px; height: 150px; padding: 15px; margin-bottom: 15px">
			<div style="font-size: 19px; color: #662200"><strong>gameId: </strong>{{game.gameId}} gameId</div>
			<div><strong>quiz title: </strong>{{game.title}} title</div>
			<div class="progress" style="margin-top: 15px">
  				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
 				 aria-valuemin="0" aria-valuemax="100" style="width:40%">
    			40% Complete
  				</div>
			</div>
		</div>
		
	</div>
</div>