<style type="text/css">
	.rating li {
		font-size: 50px;
	}
</style>

<div class="row" style="height: 100%">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" style="height: 100%; min-height: 640px; background-color: #1a1a1a; padding-left: 0px; padding-right: 0px">
		<div class="row-fluid" style="height: 100%" ng-scrollbars ng-scrollbars-config="config">
			<div class="col-xs-12" style="padding: 10px; border-bottom: 1px solid #00bfff; font-size:12px">
				<span style="float: left; margin-right:10px">Position</span>
				<span style="float: left">Team</span>
				<span style="float: right">Points</span>
			</div>
			<div class="col-xs-12 team" style="padding: 15px 20px" ng-repeat="team in scoreboard | orderBy:'teamPoints':true" ng-class="{'leader': $index == 0}">
				<span style="float:left; margin-right: 20px">{{$index + 1}}</span>
				<span style="float:left">{{team.teamName}}</span>
				<span style="float:right">{{team.teamPoints}}</span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
		<div class="col-xs-12" style="padding: 15px">
			<button type="button" class="btn btn-primary" ng-click="onClickBack()">
				<span class="glyphicon glyphicon-arrow-left"></span> Back
			</button>
		</div>
		<div class="row" style="margin: 0px; padding-top: 50px">
			<div class="panel panel-default" style="max-width: 700px; margin-left: auto; margin-right: auto; background-color: #e6b800">
				<div class="panel-body" style="color: #262626; text-align: center">
					<i class="fa fa-trophy" style="font-size: 100px"></i><span style="font-size: 70px"> Winner</span>
					<div style="font-size: 40px">{{winner.teamName}}</div>
					<ul class="list-unstyled">
						<li ng-repeat="player in winner.teamPlayers">{{player.name}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>