<div>
		 <script type="text/ng-template" id="QuestionInfoModal.html">
        <div class="modal-header">
        <span class="glyphicon glyphicon-remove" style="color: black; float:right; font-size: 16px" ng-click="onClickClose()"></span>
            <h3 class="modal-title" style="color: black">{{question.title}}</h3>
        </div>
        <div class="modal-body" style="color: black; padding: 10% 10%">
        	<div ng-show="question.imageUrl" style="padding: 15px 15px"><img ng-src="{{question.imageUrl}}" width="100%"></div>
        	<div style="text-align:center; width: 100%; margin: 0px auto; border: 1px solid #bfbfbf; border-radius: 50px; min-height: 50px; padding: 15px 10px">
            	<strong>{{question.description}}</strong>
            </div>
            <div class="row" style="padding: 15px 40px">
            	<div class="col-xs-12">
            		<ul class="list-unstyled list-inline">
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px">
						<strong>A: </strong>{{question.allAnswers.answer1}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px">
						<strong>B: </strong>{{question.allAnswers.answer2}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px; margin-top: 10px">
						<strong>C: </strong>{{question.allAnswers.answer3}}</li> 
						<li class="col-sm-6" style="border: 1px solid #bfbfbf; border-radius: 50px; padding: 5px 25px; margin-top: 10px">
						<strong>D: </strong>{{question.allAnswers.answer4}}</li> 
            		</ul>
            	</div>
            </div>
            <div class="row">
            	<div class="col-xs-12">
      				<div><strong>Difficulty: </strong>{{question.difficulty}}</div>
      				<div><strong>Time available: </strong>{{question.time}} min</div>
            		<div style="padding-top: 25px">
            			<span style="margin-right: 10px"><strong>Created by: </strong>{{question.createdBy}}</span>
            			<span><strong>Date created: </strong>{{question.created | date: 'dd/MM/yy'}}</span>
            		</div>
            		<div>
            			<span></span><strong>Last modified: </strong>{{question.lastModified | date: 'dd/MM/yy hh:mm'}}</div>
            		</div>
            	</div>
            </div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-default" ng-click="onClickEdit(question._id)">Edit</button>
        </div>
    </script>
	</div>