<div class="row" style="height: 100%">
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3" style="height: 100%; background-color: #1a1a1a; padding-left: 15px; padding-right: 0px">
	<div class="row-fluid" style="height: 100%" ng-scrollbars ng-scrollbars-config="config">
		<div class="col-xs-12" style="padding: 10px; border-bottom: 1px solid #00bfff; font-size:12px">
			<span style="float: left; margin-right:10px">Position</span>
			<span style="float: left">Team</span>
			<span style="float: right">Points</span>
		</div>
		<div class="col-xs-12 team" style="padding: 15px 20px" ng-repeat="team in scoreboard | orderBy:'teamPoints':true" ng-class="{'leader': $index == 0}">
			<span style="float:left; margin-right: 20px">{{$index + 1}}</span>
			<span style="float:left">{{team.teamName}}</span>
			<span style="float:right">{{team.teamPoints}}</span>
		</div>
	</div>
</div>



<div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
	<div class="row">
		<div class="col-xs-12"; style="padding-right: 50px">
		<span style="float: right; font-size: 40px">{{timer || 0 | timerFilter | date: 'HH:mm:ss'}}</span>
		</div>
	</div>

	<div class="row"  style="padding: 100px 50px">
	<div ng-show="question.image" style="padding: 15px 15px"><img ng-src="{{question.image}}" width="100%"></div>

	<div style="text-align:center; width: 100%; margin: 0px auto; border: 1px solid #bfbfbf; border-radius: 50px; min-height: 100px; padding: 15px 10px">
            	<strong dynamic-bind="currentQuestion.questionDescription"></strong>
   	</div>

	<div style="margin-top: 25px">
            		<ul class="list-unstyled">
						<li class="col-sm-6">
						<button type="button" id="button1" class="btn btn-default answerButton col-xs-12" ng-disabled="answerSended" ng-click="onClickSendAnswer(currentQuestion.questionAllAnswers.answer1,
						currentQuestion.questionId, 'button1')">
						<strong>A: </strong>{{currentQuestion.questionAllAnswers.answer1}}</button></li> 
						<li class="col-sm-6">
						<button type="button" id="button2" class="btn btn-default answerButton col-xs-12" ng-disabled="answerSended" ng-click="onClickSendAnswer(
						currentQuestion.questionAllAnswers.answer2,
						currentQuestion.questionId, 'button2')">
						<strong>B: </strong>{{currentQuestion.questionAllAnswers.answer2}}</button></li> 
						<li class="col-sm-6">
						<button type="button" id="button3" class="btn btn-default answerButton col-xs-12" ng-disabled="answerSended" ng-click="onClickSendAnswer(
						currentQuestion.questionAllAnswers.answer3,
						currentQuestion.questionId, 'button3')">
						<strong>C: </strong>{{currentQuestion.questionAllAnswers.answer3}}</button></li> 
						<li class="col-sm-6">
						<button type="button" id="button4" class="btn btn-default answerButton col-xs-12" ng-disabled="answerSended" ng-click="onClickSendAnswer(
						currentQuestion.questionAllAnswers.answer4,
						currentQuestion.questionId, 'button4')">
						<strong>D: </strong>{{currentQuestion.questionAllAnswers.answer4}}</button></li>
            		</ul>
            	</div>
    </div>


</div>
</div>